body {
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  flex-direction: column;
  max-width: 1400px;
  padding: 0 15px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.mobile_logo_image {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.web_logo_image {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-weight: bold;
  margin-top: 3px;

  @media screen and (max-width: 768px) {
    font-size: 27px;
  }
}
.header a {
  color: black;
  text-decoration: none;
}
/*! top nav link 호버시 동적 언더라인 css */
.top_nav {
  display: flex;
  justify-content: space-around;
  font-size: 2.5vw;
  margin: 3vw;
  padding-bottom: 3px;
  @media screen and (max-width: 768px) {
    font-size: 21px;
  }
}

.top_nav a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin: 0;
  /* text-transform: uppercase; */
}
.top_nav a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb520;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.top_nav a:hover::after {
  transform: scaleX(1);
}
.top_nav a.fromRight::after {
  transform-origin: 100% 50%;
}
.top_nav a.fromLeft::after {
  transform-origin: 0% 50%;
}
.page {
  margin: 0 1vw;
  border-top: rgb(255, 191, 73) solid 1px;
}

/*! 커뮤니티  */
.community {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1vh 0;
  flex-wrap: wrap;
}
.post_info {
  margin-bottom: 2vw;
}
.post {
  display: flex;
  background-color: rgb(255, 243, 208);
  width: 46%;
  border: solid 1px black;
  padding: 2px 1vw;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin-right: 1vw;
  margin-bottom: 2vw;
}
.post_image {
  height: 10vw;
  width: 10vw;
  background-color: rgb(249, 231, 91);
  margin: 0.5vw 0.5vw;
}

/* ! 글쓰기 , 글 수정  */
.post_write {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin: 10px 0;
}
button {
  padding: 1vw 3vw;
  background: rgb(227, 223, 219);
  border: none;
  border-radius: 5px;
}
button:hover {
  font-weight: 500;
  transition: 0.5s;
  background: rgba(252, 197, 88, 0.762);
}
.right {
  margin-right: 2vw;
  float: right;
}
.title_box {
  width: 90%;
}
.content_box {
  width: 90%;
  height: 50vh;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin: 10px 0;
}

.map_center {
  display: flex;
  justify-content: center;
}
