body {
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  flex-direction: column;
  /* max-width: 1400px; */

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
Link {
  text-decoration: none;
}

/* wraper 가 100vh 공간 차지하도록 하고 page flex:1로 줘서 공간을 자동으로 채우도록 한다.  */
.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* ! 헤더 */
.header {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-weight: bold;
  margin-top: 3px;
  /* max-width: 1400px; */
  width: 100vw;

  @media screen and (min-width: 1300px) {
    font-size: 48px;
  }
  @media screen and (max-width: 768px) {
    font-size: 27px;
  }
}
.web_logoimg {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile_logoimg {
  display: none;

  @media (max-width: 768px) {
    display: inline;
  }
}

.header a {
  color: black;
  text-decoration: none;
}
/*? top nav link 호버시 동적 언더라인 css */
.top_nav {
  /* max-width: 1400px; */
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 2.5vw;
  margin: 3vw;
  padding-bottom: 3px;
  @media screen and (max-width: 768px) {
    font-size: 21px;
  }
  @media screen and (min-width: 1300px) {
    font-size: 30px;
  }
}

.top_nav a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin: 0;
  /* text-transform: uppercase; */
}
.top_nav a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb520;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.top_nav a:hover::after {
  transform: scaleX(1);
}
.top_nav a.fromRight::after {
  transform-origin: 100% 50%;
}
.top_nav a.fromLeft::after {
  transform-origin: 0% 50%;
}
/* ! Footer */
.footer {
  border-top: 3px solid #ffb520;
  margin-top: 3vw;
  padding: 1.5vw 3vw;
  background-color: #fccd7f;
  height: 15vh;
  width: 100vw;
  bottom: 0px;
  /* position: absolute; -> 이거하면 무조건 자리차지하기떄문에 지도영역도 침범함 */
}

.page {
  display: flex;

  /* max-width: 1400px; */
  flex: 1;
  width: 90vw;
  padding: 0 15px;
  margin: 0 1vw;
  border-top: rgb(255, 194, 80) solid 1.5px;
}
.bold {
  font-size: 115%;
  font-weight: 600;
  margin: 0 1px;
}

/*! 커뮤니티  */
.community {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 2vh 0;
  flex-wrap: wrap;
}
.post_info {
  margin-bottom: 2vw;
}
.post {
  display: flex;
  background-color: rgb(255, 243, 208);
  width: 46%;
  border: solid 1px black;
  padding: 0.5vw 1vw;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin: 1vw 0.5vw;
  min-height: 9vh;
}
.post_image {
  height: 10vw;
  width: 10vw;
  background-color: rgb(255, 227, 174);
  /* background-color: rgb(255, 191, 73); */
  margin: 0.5vw 0.5vw;
  border-radius: 5%;
}
/* 게시글 내용 길어졌을때 무한정 길어지는것 막고 ...으로 말줄임표시 */
.post_overflow {
  max-width: 30vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ! 글쓰기 , 글 수정  */
.post_write {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin: 10px 0;
}
button {
  padding: 1vw 3vw;
  background: rgb(227, 223, 219);
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s;
  background: rgba(252, 197, 88, 0.762);
}
.right {
  margin-right: 2vw;
  float: right;
}
.title_box {
  width: 90%;
}
.content_box {
  width: 90%;
  height: 50vh;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin: 10px 0;
}

.map_center {
  border: rgb(255, 209, 122) solid 3px;
  margin: 2vw;
  display: flex;
  justify-content: center;
}

/* !포스트 디테일 페이지  */
.post_detail {
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.post_detail_info {
}
.post_detail_content {
}

.quill_Editor {
  width: 75vw;
  height: 400px;
  margin-bottom: 50px;
}

.pagination_box {
}
